# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.env
.venv

# IDE files
.vscode/
.idea/

# Logs
*.log

# macOS specific
.DS_Store

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# Miscellaneous
.tmp
.temp
